# Enable mod_rewrite
RewriteEngine On

# Set base path
RewriteBase /APP_SGRHBMKH/

# PHP error configuration
php_flag display_errors On
php_value error_reporting E_ALL

# Handle the rewriting
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# PHP settings
php_value session.gc_maxlifetime 3600
php_value session.cookie_lifetime 3600
php_flag session.cookie_httponly On
php_value session.cookie_path "/APP_SGRHBMKH"
